.pagination{
    display: flex;
    justify-content: space-between;
}
.cardContainer{
    width: 70%;
}
.sidebar{
    width: 20%;
}
.card img{
    width: 100%;
    aspect-ratio: 9/16;
};
.card-body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
